{% import "_includes/forms" as forms %}

{{ forms.checkboxField({
	first: true,
	label: "Activated?"|t,
	name: 'activated',
	toggle: 'defaults',
	checked: (settings.activated is defined and settings.activated is not empty ? true : false),
}) }}

<div id="defaults"{% if settings.activated is not defined or not settings.activated %} class="hidden"{% endif %}>
	<table class="data fullwidth">
		<thead>
			<th>Whitelisted IP addresses (1 per line)</th>
			<th>Override code</th>
		</thead>
		<tr>
			<td>
				{{ forms.textarea({
					name: 'whitelist',
					value: settings.whitelist
				}) }}
			</td>
			<td>
				{{ forms.text({
					name: 'code',
					value: settings.override
				}) }}
				<br /><br />
				Append <code>?ipwhitelist={{ settings.override }}</code> to any URL to automatically add the current IP to the whitelist.
			</td>
		</tr>
	</table>
</div>